:root {
/* ### Primary */
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);
/* ### Neutral */
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
--white: hsl(0,0%,100%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Red Hat Display', sans-serif; 
    line-height: 1.6; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--Pale-blue);
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
main {
    width: 100%;

}
b {
    font-weight: 900;
    color: var(--Dark-blue);
} 
  
.container {
    max-width: 100vw;
    max-height: auto;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    overflow: hidden;
    margin: 0 2rem;
}
.container .top-container img {
    width: 100%;
    margin-bottom: 1.6rem;
    border-top: 1.2rem;
    
}
.container .top-container h1 {
    color: var(--Dark-blue);
    font-size: 2.2rem;
    font-weight: 900;
}
.container .top-container p {
    color: var(--Desaturated-blue);
    text-align: center;
    font-weight: 500;
}
.top-container h1, p {
    text-align: center;
    padding: 0.8rem 3.6rem;
}
.bottom-container {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2.4rem;
    padding-bottom: 2.4rem;
    margin-top: 2rem;
}
.subscription-container {
    display: flex;
    flex-direction: row; 
    background-color: var(--Very-pale-blue);
    align-items: center;
    padding: 1.5rem 1.4rem;
    border-radius: 1.2rem;
    margin-bottom: 2.4rem;
    width: 100%; 
}
.subscription-container .price {
    display: flex;
    flex-direction: column; 
    margin-left: 1.5rem; 
    font-size: 1.4rem; 
}
.subscription-container .price p {
    padding: 0;
}
.change a {
    margin-left: 5.5rem; 
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--Bright-blue);
    max-width: 25%;
    align-self: flex-end;
}
.price .year {
    color: var(--Desaturated-blue);
    font-weight: 700;
}

.btn {
    border-radius: 1rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--Bright-blue);
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    text-align: center;
    margin-bottom: 2rem;
    min-width: 28.7rem;
    height: 5rem;
    cursor: pointer;
    box-shadow: 0px 20px 15px hsl(245deg 75% 52% / 16%)
}
.btn:hover {
    background-color: var(--Desaturated-blue);
    color: var(--white);        
    text-decoration: none;
    font-weight: bolder;
}
.cancel-order {
    color: var(--Desaturated-blue);
    font-weight: 900;
    text-decoration: none;  
}
.cancel-order:hover {
    color: var(--Dark-blue);
}
.attribution {  
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: var(--Dark-blue);
    margin-top: 2rem;
}
.attribution a {  
    color: var(--Desaturated-blue);
}

@media (min-width: 760px) {
    body {
       background-image: url(../images/pattern-background-desktop.svg); 
    }
    main {
        display: flex;
        justify-content: center;
    }
    .container {
        max-width: 42rem;
        padding-bottom: 2rem;
    }
    .container .top-container h1 {
        font-size: 2.9rem;
    }
    .container .top-container p {
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }
    .subscription-container {
        padding: 2rem 2rem;
    }
    .subscription-container .price, .year {
        font-size: 1.6rem;
    }
    .subscription-container .change {
        margin-left: 3.4rem;
        font-size: 1.8rem;
    }
    .subscription-container .change a {
        font-size: 1.5rem;
    }
    .btn {
        width: 34rem;
        margin-top: 1.6rem;
    } 
    .bottom-container {
        margin: 0 4rem;
    }
}

